
body{
    display: inline-flex;
}
#primeiro{
    width: 700px;
    height: 605px;
    background-color: black;
    color: white;
}
#segundo{
    width: 650px;
    background-color: yellow;
}
#voltar{
    background-color: white;
    color: black;
    font-weight: bolder;
    margin: 210px 0 0 20px;
    padding: 5px;
    border-radius: 5px;
}
.input{
    margin-left: 230px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}
input{
    margin-top: 5px;
}
h2{
    margin-top: 200px;
    margin-left: 250px;
}
button{
    margin-top: 10px;
    cursor: pointer;
}
table{
    background-color: white;
    margin: 100px 0 0 260px;
}