body{
    background-color: yellow;
    font: 15pt arial;
}

header{
    text-align: center;
}
section{
    background-color: white;
    width: 800px;
    margin: auto;
}

footer{
    text-align: center;
}

   
th,td{
    text-align: center;
    border: 2px;
    border-style: ridge;
    border-color: black;
}
table{
    background-color: white;
    border-radius: 2px;
    border-color: black;
}
button{
    padding:5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    background-color: rgb(5, 5, 5);
    color: yellow;
    box-shadow: 1px rgb(5, 5, 5);
}
#quadrado,.quadrado{
    color:red;
}
#fatorial, .fatorial{
    color: gray;
}
#cubo, .cubo{
    color:darkgreen;
}
#raiz, .raiz{
    color: blue;
}
#numerosdigitados,.numerosdigitados{
    background-color: black;
    color: white;
}