body{
    background-color: #ccc;
    display: inline-flex;
}
#first{
    width: 700px;
    height: 600px;
    background-color: black;
    display: block;
}
#second{
    width: 650px;
    background-color: yellow;
}
.idades{
    margin: 100px 0 0 200px;
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
#voltar{
    color: black;
    font-weight: bolder;
    background-color: white;
    margin:70px 0 0 20px;
    padding: 5px;

}
input{
    margin-bottom: 10px;
}
button{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.p{
    width: 400px;
    padding: 10px;
    margin: 200px 0 0 150px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}