body{
    text-align: center;
    display: inline-flex;
    overflow: auto;
    background-color: gray;

}
#center{
    
    background-color: black;
    width: 400px;
    border-radius: 10px;
    margin-right: 5px;
}
#center h2{
    margin-top: 50px;
    color: white;
}
#first{
    width:450px;
    height: 610px;
    background-color: yellow;
    margin-right: 5px;
    border-radius: 10px;
}
#last{
    width: 500px;
    background-color: yellow;
    border-radius: 10px;
    
}
#enviar{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 100%;
    color: black;
    background-color:white;
    padding: 5px;
    cursor: pointer;
    border-radius: 50px;
    
}
#tbody tr:nth-child(2n+1) { 
    background:yellow; 
}
#back{
    margin-top: 20px;
    padding: 10px;
}
.i1,.i2,.i3,.i4{
    margin-bottom: 10px;
}
.camp{
    padding: 5px;
    margin-left: 100px;
    width: 260px;
    background-color: white;
    margin-top: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}
.infos{
    margin-bottom: 10px;
}
form{
    margin:50px 0 0 58px;
    width: 185px;
    height: auto;
    background-color:yellow;
    padding: 50px;
    text-align: center;
    border-radius: 0 10px;
}
input{
    border-radius: 5px;
}
button{
    font-size:bolder;
    color: white;
    background-color: black;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
table{
    margin: 100px 0 0 80px;
    background-color: white;
}
th{
    background-color:#ccc;
    padding: 5px;
}